.App {
  /* font-family: sans-serif; */
  font-family: "Poppins", sans-serif;
  padding: 15px;
}
form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 50%;
}
form > * {
  padding: 5px 5px;
  color: black;
  font-size: 14px;
}
